<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node-Spine integration</title>
</head>
<body>
    <div class="app">
        <form action="/get" >
            Please enter your OpenSea token:
            <input name="tokenUrl">
            <button type="submit">Fetch</button>
        </form>
        <br />
        For example, in https://opensea.io/assets/ir2is0, the part after assets/ i.e 'ir2is0' is the token. It will be long and cryptic.
    </div>
</body>
</html>
